/* =========================
   HEADER
========================= */

.header {
    background: rgba(11, 31, 58, 0.95);
    border-bottom: 1px solid var(--border);
    position: sticky;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(10px);
}

.header-content {
    min-height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.logo img {
    width: 125px;
    height: auto;
}

.header-button {
    background: #2d9c7c;
    color: var(--white);
    padding: 11px 20px;
    border-radius: 999px;
    font-size: 14px;
    font-weight: 700;
    transition: 0.2s ease;
}

.header-button:hover {
    transform: translateY(-2px);
    opacity: 0.9;
    background: #238b6d;
}
